<ul>
  <% @bookmarks.each do |bookmark| %>
    <li>
      <form action="/bookmarks/<%= bookmark.id %>/delete" method="post">
        <input id="hidden" type="hidden" name="_method" value="delete">
        <a href="<%= bookmark.url %>"><%= bookmark.title %></a>
        <input type="submit" value="Delete" id="<%= bookmark.id %>">
      </form>
    </li>
  <% end %>
</ul>