<h2>Bookmarks</h2>

<ul>
  <% @bookmarks.each do |bookmark| %>
    <li>
      <a href="<%= bookmark.url %>" target="_blank"><%= bookmark.title %></a>
      <form action="/bookmarks/<%= bookmark.id %>" method="post">
        <input type="hidden" name="_method" value="DELETE" />
        <input type="submit" value="Delete" id="<%= bookmark.id %>" />
      </form>
    </li>
  <% end %>
</ul>

<h3>Add a new bookmark</h3>

<form>
  <a href="/bookmarks/new">Add a bookmark</a>
</form>
