<form action="/bookmarks/new" method="post">
  <h3>Add a new bookmark</h3>
  Title: <input type="text" name="title">
  url: <input type="text" name="url" placeholder="begin with http...">
  <input type="submit" value="Add">
</form>